body {
    padding: 0;
    margin: 0;
}
/* ANIMATION */
#titre {
    margin-top: 25px;
    font-size: 21px;
    text-align: center;

    -webkit-animation: fadein 2s;
       -moz-animation: fadein 2s; 
        -ms-animation: fadein 2s;
         -o-animation: fadein 2s; 
            animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* NAVBAR */
.fixedElement {
    background-color: white;
    position:fixed;
    top:0;
    width:100%;
    z-index:9;
}

/* AVATAR */
.avatar {
    height:30%;
    width: 30%;
    margin-top: 100px;
}

/*IMAGE DE LA BANNIERE*/
.pc {
    width:50%;
    margin-bottom: -50px;
}

/*BANNIERE BLEUE*/
.blue{
    background-color: #65c9FF;
    height: 500px;
    width: 100%;
}

/*STACKS*/
.white {
    width: 75%;
    height: 400px;
    background-color: white;
    margin: auto;
    border-right: 2px solid lightgray;
    border-left: 2px solid lightgray;
    border-top: 2px solid lightgray;
    border-start-start-radius: 20px;
    border-start-end-radius: 20px;
}


.texte{
    padding-left: 100px;
    padding-right: 100px;
    padding: 3rem;
}

.icon {
    height: 100px;
    width: 100px;
    margin: 20px;
    object-fit: contain;
}

.img {
    height: 80%;
    width: 100%;
    padding: 10;
}

/*CARDS*/
.projets{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 50px;
}

li{
    list-style-type:none;
}

/*Competences*/
.competences {
    margin-top: 100px;
}

/*FORMULAIRE DE CONTACT*/
.textarea {
    resize: none;
}


.move:hover{
    transition : transform 0.3s; 
    transform: scale(1.075);
}

/*A PROPOS*/
#entete {
    background-color: #65c9FF;
    color: white;
}

.font {
    /* color: #65c9FF; */
    font-style: oblique;
    text-decoration: underline;
}

/*FOOTER*/
.footer{
    background-color: #65c9FF;
    width: 100%;
    height: 30%;
}
.responsiv {
    display: none
 }
/*MEDIA QUERIES*/
@media screen and (max-width: 1190px) {

    .projets {
      display: flex;
      flex-direction: column;
      margin-top: 150px;
    }

    .competences{
        margin-top:150px;
    }
}

@media screen and (max-width: 800px) {
    .container {
        margin-bottom: 40%;
    }
    .projets {
      display: flex;
      flex-direction: column;
      margin-top: 300px;
    }

}

@media screen and (max-width: 560px) {
    .stacks {
        margin-bottom: 500px;
    }
    .projets {
      display: flex;
      flex-direction: column;
      margin-top: 40rem!important;
    }

    .footer {
        display: none;
    }
    .responsiv {
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }

}

@media screen and (max-width: 360px){
    .stacks {
        margin-bottom: 3rem!important ;
    }
    .projets {
      display: flex;
      flex-direction: column;
      margin-top: 65rem!important ;
    }

    .blue {
        width: 100%;
        height: 800px;
        padding-bottom: 500px;
    }
    .texte{
        padding: 0;
    }

    #send {
        margin-bottom: 50px;
    }

    .footer {
        display: none;
    }
    .responsiv {
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }
}